body {
    background-color: #000;
    color: #eee
}

/* Cells */
.live { background-color: #fff }
.dead { background-color: #000 }

.g1  { background-color: #0f0 }
.g2  { background-color: #ff0 }
.g3  { background-color: #f00 }
.g4  { background-color: #0ff }
.g5  { background-color: #00f }
.g6  { background-color: #0f0 }
.g7  { background-color: #ff0 }
.g8  { background-color: #f00 }
.g9  { background-color: #0ff }
.g10 { background-color: #00f }

#speed-display {
    float: left;
    margin-right: 1em;
    min-width: 8em;
}

#speed {
    width: 10em;
}

#generation-display {
    float: left;
    margin-right: 1em;
}

#status-display {
    clear: right;
}

#grid {
    float: left;
}

#panels {
    width: 450px;
    margin-left: 20px;
    float: left;
}

.config-section {
    margin-bottom: 10px;
    padding: 0.5em;
    border-style: dashed;
    border-width: thin;
    border-color: #444;
}

.config-section h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 120%;
}

/* The control panel pane */
#colour-panel {
    height: 330px;
}

#no-of-colours-slider {
    margin: 10px;
}

/* All swatches and labels */
#colour-pickers {
    float: left;
}

/* Swatch and label are in a table. The minimum row height is
determined by the label text height. For square swatches set this the
same as swatch width. */

#colour-pickers tr {
    height: 1.2em;
}

.swatch {
    width: 1.2em;
}

/* Farbtastic wheel */
#colour-picker {
    float: left;
    width: 195px;
    margin: 20px;
}

