body {
    background-color: #000;
    color: #eee
}

/* Cells */
.live { background-color: #fff }
.dead { background-color: #000 }

#buttons {
    margin-right: 10px;
    margin-bottom: 5px;
}

#buttons * {
    font-size: 120%;
}

#speed-slider {
    max-width: 30em;
    margin-top: 10px;
}

#speed-display {
    margin-right: 1em;
    min-width: 8.2em;
}

#speed {
    width: 10em;
}

#generation-display {
    margin-right: 1em;
}

#status-display {
    margin-top: 10px;
}

#grid {

}

.config-section {
    margin-bottom: 10px;
    padding: 0.5em;
    border-style: dashed;
    border-width: thin;
    border-color: #444;
}

.config-section h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 120%;
}

#no-of-colours-slider {
    margin: 10px;
}

/* All swatches and labels */
#colour-pickers {
    float: left;
}

/* Swatch and label are in a table. The minimum row height is
determined by the label text height. For square swatches set this the
same as swatch width. */

#colour-pickers tr {
    height: 1.2em;
}

.swatch {
    width: 1.2em;
}

/* Farbtastic wheel */
#colour-picker {
    float: left;
    width: 195px;
    margin: 20px;
}

